Welcome to the Oddysee Craft Modpack\n\nVisit the website (link in bottom right corner below) to access the Website and see and Gameplay Changes. Many of your questions about the pack are answered there.\n\nKNOWN ISSUES (15-May-2018):\n\nIf you're encountering a Tinkers Construct script error at start, reinstall the pack.\n\nWorld creation takes a while, be patient and watch the console!\n\nThe quest book is accessed by pressing the ~ key (top left corner).
